#find-us {
  padding: 40px 120px;
}

#find-us > p {
  width: 60%;
}

.search-input {
  width: 30%;
  padding: 10px 40px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 20%;
}

#find-us > div {
  display: flex;
  margin-top: 40px;
  height: 100%;
  gap: 60px;
}

#possible-locations {
  max-height: 50vh;
  width: 30vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

/* #possible-locations:hover {

} */

#possible-locations div {
  /* height: 10vh; */
  width: 25vw;
  border-radius: var(--radius-border);
  padding: 10px 15px;
  color: white;
  background-color: var(--primary);
  margin: 20px 10px;

}

#possible-locations div:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

#map {
  height: 50vh;
  width: 65%;
  border: 5px solid black;
  border-radius: 2%;
}